*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  min-height: 400vh;
  overflow-x: hidden;
}

.frontPage {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}
.frontPage__aside {
  height: 100%;
  width: 15%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), black 95%);
  box-shadow: inset -2rem 0 5rem 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.frontPage__logo {
  all: unset;
  width: 10rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  padding: 1rem;
}
.frontPage__logoImg {
  width: 100%;
  height: 100%;
}
.frontPage__nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  gap: 5rem;
}
.frontPage__navItem {
  list-style: none;
}
.frontPage__navButton {
  all: unset;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  cursor: pointer;
}
.frontPage__navSphere {
  display: inline-block;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
}
.frontPage__navSphere:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  filter: blur(5px);
  z-index: 2;
}
.frontPage__navSphere:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  filter: blur(10px);
}
.frontPage__navText {
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 200%;
  color: white;
}
.frontPage__main {
  height: 100%;
  width: 85%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.frontPage__centerTitle {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  z-index: 2;
}
.frontPage__centerTitle--0 {
  grid-column: 8/12;
  grid-row: 2/6;
  padding-left: 0;
}
.frontPage__centerTitle--1 {
  grid-column: 2/6;
  grid-row: 8/12;
}
.frontPage__title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 4vw;
  font-family: "Asus Rog";
  width: 100%;
  height: 100%;
  z-index: -1;
}

.halfSquare {
  position: absolute;
  height: 32rem;
  aspect-ratio: 1/1;
}
.halfSquare--left {
  bottom: 0;
  left: 0;
  grid-column: 2/6;
  grid-row: 8/12;
}
.halfSquare--right {
  top: 0;
  right: 0;
  grid-column: 8/12;
  grid-row: 2/7;
}
.halfSquare > img {
  height: 100%;
  width: 100%;
}
.halfSquare--projects {
  padding: 4rem;
}

.skills {
  height: 65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills__title {
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-family: "Asus Rog", "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 300%;
  color: white;
}
.skills__itemsWrapper {
  display: flex;
  height: 50rem;
  width: 100vw;
  gap: 4rem;
  position: relative;
}
.skills__itemWrapper {
  height: 40rem;
  width: 20%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.skills__itemWrapper--0 {
  bottom: 0;
  left: 0;
}
.skills__itemWrapper--1 {
  top: 0;
  left: 20%;
}
.skills__itemWrapper--2 {
  bottom: 0;
  left: 40%;
}
.skills__itemWrapper--3 {
  top: 0;
  left: 60%;
}
.skills__itemWrapper--4 {
  bottom: 0;
  left: 80%;
}
.skills__button {
  all: unset;
  height: 40rem;
  width: 25rem;
  background: red;
  position: relative;
  border-radius: 2rem;
  flex-shrink: 1;
  transition: 0.5s;
  cursor: pointer;
}
.skills__button:hover {
  transform: scale(1.15);
}
.skills__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 80px solid black;
  width: 0;
}
.skills__button:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 80px solid black;
  width: 0;
}
.skills__button--0:before {
  border-right: 80px solid #e67e2e;
}
.skills__button--0:after {
  border-left: 80px solid #e67e2e;
}
.skills__button--0 {
  background: #e67e2e;
}
.skills__button--1:before {
  border-right: 80px solid #6f8af0;
}
.skills__button--1:after {
  border-left: 80px solid #6f8af0;
}
.skills__button--1 {
  background: #6f8af0;
}
.skills__button--2:before {
  border-right: 80px solid #ffec6e;
}
.skills__button--2:after {
  border-left: 80px solid #ffec6e;
}
.skills__button--2 {
  background: #ffec6e;
}
.skills__button--3:before {
  border-right: 80px solid #a66887;
}
.skills__button--3:after {
  border-left: 80px solid #a66887;
}
.skills__button--3 {
  background: #a66887;
}
.skills__button--4:before {
  border-right: 80px solid #8993be;
}
.skills__button--4:after {
  border-left: 80px solid #8993be;
}
.skills__button--4 {
  background: #8993be;
}
.skills__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24rem;
  width: 24rem;
}
.skills__img {
  height: 100%;
  width: 100%;
}

.modal {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20rem 1rem 20rem 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: inset 1rem -1rem 2rem 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  z-index: 9999999999;
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(125deg, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.modal__article {
  width: 50%;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal__h2 {
  color: #eee;
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}
.modal__p {
  color: #eee;
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-size: 2.5rem;
}
.modal__div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__figure {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  height: 25vw;
  aspect-ratio: 1/1;
  border: 0.1rem solid #242323;
  border-radius: 3rem;
  box-shadow: -2rem 2rem 0 0 black;
}
.modal__img {
  width: 100%;
  height: 100%;
}
.modal__exit {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: white;
  border-radius: 40% 20% 40% 20%;
  cursor: pointer;
}
.modal__delete {
  width: 90vw;
  height: 95vh;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.projects {
  width: 100vw;
  height: 230vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
  position: relative;
}
.projects__title {
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-family: "Asus Rog", "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 300%;
  color: white;
}
.projects__section {
  height: 100%;
  width: 100%;
  position: relative;
}
.projects__list {
  width: 100%;
  height: 100%;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}
.projects__item {
  height: 30%;
  width: 45%;
  background: white;
  border-radius: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  transition: 0.8s ease-out;
}
.projects__item:hover {
  transform: scale(1.1);
}
.projects__itemTitle {
  height: 10%;
  font-size: 200%;
  font-family: "Ubuntu";
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
}
.projects__itemFigure {
  width: 100%;
  height: 40%;
  padding-left: 3vw;
  padding-right: 3vw;
}
.projects__itemImg {
  height: 100%;
  width: 100%;
  box-shadow: -2rem 2rem 2rem 0 rgba(0, 0, 0, 0.3);
}
.projects__itemText {
  height: auto;
  padding: 1vw;
  text-shadow: -0.2rem 0.2rem #eeeeee;
  font-family: "Ubuntu", sans-serif;
  font-size: 80%;
}

.about {
  margin-top: 6rem;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about__title {
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-family: "Asus Rog", "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 300%;
  color: white;
}
.about__section {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.about__textWrapper {
  width: 50%;
}
.about__p {
  width: 100%;
  color: #eee;
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-size: 2rem;
}
.about__figure {
  width: 30%;
  background: white;
}

@media screen and (max-width: 1300px) {
  .skills__itemsWrapper {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
