*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

body {
  font-family: "Open Sans", sans-serif;
  background: black;
  min-height: 200vh;
  overflow-x: hidden;
}

.frontPage {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}
.frontPage__aside {
  height: 100%;
  width: 15%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), black 95%);
  box-shadow: inset -2rem 0 5rem 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.frontPage__logo {
  all: unset;
  width: 10rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  padding: 1rem;
}
.frontPage__logoImg {
  width: 100%;
  height: 100%;
}
.frontPage__nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  gap: 5rem;
}
.frontPage__navItem {
  list-style: none;
}
.frontPage__navButton {
  all: unset;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  cursor: pointer;
}
.frontPage__navSphere {
  display: inline-block;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
}
.frontPage__navSphere:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  filter: blur(5px);
  z-index: 2;
}
.frontPage__navSphere:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
  filter: blur(10px);
}
.frontPage__navText {
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 200%;
  color: white;
}
.frontPage__main {
  height: 100%;
  width: 85%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.frontPage__centerTitle {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  z-index: 2;
}
.frontPage__centerTitle--0 {
  grid-column: 8/12;
  grid-row: 2/6;
  padding-left: 0;
}
.frontPage__centerTitle--1 {
  grid-column: 2/6;
  grid-row: 8/12;
}
.frontPage__title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 4vw;
  font-family: "Asus Rog";
  width: 100%;
  height: 100%;
}

.halfSquare {
  position: absolute;
  height: 32rem;
  aspect-ratio: 1/1;
}
.halfSquare--left {
  bottom: 0;
  left: 0;
  grid-column: 2/6;
  grid-row: 8/12;
}
.halfSquare--right {
  top: 0;
  right: 0;
  grid-column: 8/12;
  grid-row: 2/7;
}
.halfSquare > img {
  height: 100%;
  width: 100%;
}

.skills {
  height: 65rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills__title {
  text-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  font-family: "Asus Rog", "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 300%;
  color: white;
}
.skills__itemsWrapper {
  display: flex;
  height: 50rem;
  gap: 4rem;
}
.skills__itemWrapper {
  height: 40rem;
  width: 20%;
}
.skills__button {
  all: unset;
  height: 40rem;
  width: 25rem;
  background: red;
  position: relative;
  border-radius: 2rem;
}
.skills__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 80px solid black;
  border-right: 80px solid red;
  width: 0;
}
.skills__button:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 80px solid black;
  border-left: 80px solid red;
  width: 0;
}

/*# sourceMappingURL=style.css.map */
