.about{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 15rem;

    &__title{
        text-shadow: -0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);
        font-family: "Asus Rog", "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 300%;
        color: white;
    }
    &__section{
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
    &__textWrapper{
        width: 50%;
    }
    &__p{
        width: 100%;
        color: #eee;
        text-shadow: -0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);
        font-size: 2rem;
    }
    &__figure{
        width: 30%;
        background: white;
    }
    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}