.frontPage {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    &__aside {
        height: 100%;
        width: 15%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.45), black 95%);
        box-shadow: inset -2rem 0 5rem 0 rgba($color: black, $alpha: 0.4);
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &__logo {
        all: unset;
        width: 10rem;
        aspect-ratio: 1/1;
        cursor: pointer;
        padding: 1rem;
        &Img {
            width: 100%;
            height: 100%;
        }
    }
        
    &__nav {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 1vw;
        gap: 5rem;
        &Item {
            list-style: none;
        }
        &Button {
            all: unset;
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1rem;
            cursor: pointer;
        }
        &Sphere {
            display: inline-block;
            height: 2.5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin: 0;
            position: relative;
            background: radial-gradient(circle at 50% 120%, #323232, #0a0a0a 80%, #000000 100%);
            &:before {
                content: "";
                position: absolute;
                background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
                border-radius: 50%;
                bottom: 2.5%;
                left: 5%;
                opacity: 0.6;
                height: 100%;
                width: 90%;
                filter: blur(5px);
                z-index: 2;
            }
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 5%;
                left: 10%;
                border-radius: 50%;
                background: radial-gradient(
                    circle at 50% 50%,
                    rgba(255, 255, 255, 0.8),
                    rgba(255, 255, 255, 0.8) 14%,
                    rgba(255, 255, 255, 0) 24%
                );
                transform: translateX(-80px) translateY(-90px) skewX(-20deg);
                filter: blur(10px);
            }
        }
        &Text {
            text-shadow: -0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);
            font-family: "Ubuntu", sans-serif;
            font-weight: 500;
            font-size: 200%;
            color: white;
        }
    }

    &__main {
        height: 100%;
        width: 85%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    &__centerTitle {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        z-index: 2;
        &--0 {
            grid-column: 8/12;
            grid-row: 2/6;
            padding-left: 0;
        }
        &--1 {
            grid-column: 2/6;
            grid-row: 8/12;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 4vw;
        font-family: "Asus Rog";
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
