.modal {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20rem 1rem 20rem 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: inset 1rem -1rem 2rem 1rem rgba($color: #000000, $alpha: 0.3);
    display: flex;
    background: #833ab4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        125deg,
        #fcb045,
        #fd1d1d,
        #833ab4
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &__article {
        width: 50%;
        padding: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__h2 {
        color: #eee;
        text-shadow: -0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);
    }
    &__p {
        color: #eee;
        text-shadow: -0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);
        font-size: 2.5rem;
    }
    &__div {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__figure {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #eee;
        height: 25vw;
        aspect-ratio: 1/1;
        border: 0.1rem solid rgba($color: #242323, $alpha: 1);
        border-radius: 3rem;
        box-shadow: -2rem 2rem 0 0 rgba($color: #000000, $alpha: 1.0);
    }
    &__img {
        width: 100%;
        height: 100%;
    }

    &__exit {
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        height: 5rem;
        width: 5rem;
        position: absolute;
        top: 3rem;
        right: 3rem;
        color: white;
        border-radius: 40% 20% 40% 20%;
        cursor: pointer;
    }
    &__delete {
        width: 90vw;
        height: 95vh;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        display: none;
    }
}
