.projects{
    width: 100vw;
    height: 180vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem; 
    position: relative;
    &__title {
        text-shadow: -0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);
        font-family: "Asus Rog", "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 300%;
        color: white;
        
    }
    &__section{
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__list{
        width: 100%;
        height: 100%;
        padding: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5%;
    }
    &__item{
        height: 45%;
        width: 45%;
        background: white;
        border-radius: 2rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 5;
        transition: 0.8s ease-out;
        &:hover{
            transform: scale(1.1);
        }
        &Title{
            height: 10%;
            font-size: 200%;
            font-family: "Ubuntu";
            text-shadow: -0.2rem 0.2rem rgba($color: #000000, $alpha: 0.3);

        }
        &Figure{
            width: 100%;
            height: 40%;
            padding-left: 3vw;
            padding-right:3vw;
        }
        &Img{
            height: 100%;
            width: 100%;
            box-shadow: -2rem 2rem 2rem 0 rgba($color: #000000, $alpha: 0.3);

        }
        &Text{
            height: auto;
            padding: 1vw;
            text-shadow: -0.2rem 0.2rem rgba($color: #eee, $alpha: 1);
            font-family: "Ubuntu", sans-serif;
            font-size: 80%;
        }
    }
}